alias e='emacs -nw'
alias a='ack-grep'

alias -g G='| grep'
alias -g L='| less'
alias -g A='| a'

function f {
    find . -iname "*$1*"
}

# No auto correct
unsetopt correct
unsetopt correct_all

alias bd='~/conf/kbd/kbd.rb'
alias n='setxkbmap fr'
alias bepo='xkbcomp -w 0 -R/usr/share/X11/xkb ~/conf/kbd/vaio_bepo $DISPLAY'
