# Zsh
# No auto correct
unsetopt correct
unsetopt correct_all

# System
alias -g G='| grep'
alias -g L='| less'
alias -g A='| a'
alias rm='trash'

function f {
    find . -iname "*$1*"
}

# Emacs
alias e='emacs -nw'
alias a='ack-grep'

# Git
alias gcam='git commit --amend -C HEAD'

# Keyboard
alias bd='~/.kbd/kbd.rb'
alias n='setxkbmap fr'
alias bepo='xkbcomp -w 0 -R/usr/share/X11/xkb ~./kbd/vaio_bepo $DISPLAY'

# Ruby
alias ge='gem environment'

function b {
  bundle "$1"
}
function be {
  bundle exec "$1"
}
function bu {
  bundle update "$1"
}
function bl {
    bundle list
}

alias rs='rails server'
alias rc='rails console'