[user]
  name = Iori Matsuhara
  email = matsuhar@gmail.com
[color]
  ui = true
[core]
	editor = emacsclient -nw -t
  excludesfile = ~/.gitignore
  pager = less -FRSX
[push]
	default = simple
[pull]
	rebase = true
[merge]
	ff = false
[rebase]
	autosquash = true
